<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Simpsons Image Repository</title>
      <link rel="icon" href="{{ url_for('static', filename='style/donut.png') }}">
      <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
      <script src="https://use.fontawesome.com/ed824f70ad.js"></script>
    </head>
    <body>
        <div class="container_row">
            <div class="layer1">
                <h1>Simpsons Image Repository</h1>
                <h3>Upload an image of a Simpsons! (Homer, Marge, Lisa, or Bart)</h3>
            </div>
            <div class="layer2">
                <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
                    <p>
                        <span><input class="file" type="file" name="file" accept="image/*"></span>
                        <span><input class="submit" type="submit" value="Submit"></span>
                    </p>
                </form> 
            </div> 
        </div>
        <div class="row">
            <div class="column">
                {% for image_path in image_paths %}
                    <img src="{{ image_path }}">
                {% endfor %}
            </div>
        </div>      
    </body>
</html>
